
body{
    background-color: blanchedalmond;
}

 p{
     float: left;
     font-size: 20px;
 }
 
 #caja{
     text-align: center;
     margin-top:5px;
 }

    #tiempo{
        width: 10%;
        float: left;
    }

  #butones{
      width:10%;
      float: right;

  }  

    